<%- include("partials/header.ejs", {title: ` - About`, body_id: `about`} )%>
    <%- include("partials/navbar.ejs", {bg: `dark`})%>

        <div class="container about">
            <h1 class="display-6 my-3">Oversee</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, voluptate illum. Quas explicabo magnam ut! Maiores officiis minus magnam doloribus error voluptate fuga iure voluptatibus labore ut nesciunt voluptatem perspiciatis nostrum, distinctio quisquam quas non ipsa accusamus aperiam. Accusantium aut sapiente odio quaerat sit dignissimos ullam laboriosam veniam dolores beatae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt saepe nobis esse asperiores excepturi molestiae, iusto laboriosam, commodi mollitia maxime distinctio illum quisquam magnam tempore quaerat voluptate totam, nihil explicabo? Accusamus numquam nulla in. Eaque voluptatem illum pariatur earum numquam quidem assumenda, dolor ullam laboriosam asperiores enim magni fuga ipsa, necessitatibus porro odit? Laborum fuga officiis quidem temporibus porro magni optio ipsum, autem dolor accusamus soluta aspernatur ad minima? Error eos itaque quod, deserunt corrupti voluptatibus ea in pariatur. Recusandae magnam delectus assumenda eos nisi culpa placeat praesentium deleniti minima temporibus, quos pariatur iusto, molestiae numquam, eaque exercitationem reiciendis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sunt dicta corporis, magni possimus quo dignissimos? Enim, ab maiores iste corporis consectetur quasi vel? Ullam quis, dignissimos dolore vitae repudiandae quod. Eaque, blanditiis laudantium. Fugiat ratione error atque nobis, totam dolorem sapiente voluptatem? Consequuntur fugit magnam nulla ab vitae in.</p>

        </div>

        <!-- <a href="/logout">Logout</a> -->

        <%- include("partials/footer.ejs")%>