<%- include("partials/header.ejs", {title: ` - Faq`, body_id: `faq`} )%>
    <%- include("partials/navbar.ejs", {bg: `dark`})%>

    <div class="container faq">
        <div class="row">
            <div class="col">
                <h1 class="display-4 my-3">Faq</h1>
                <br>
                <h1 class="display-6 my-3">1. What is Oversee?</h1>
                <p>Let's get right to the point. We all lose shit. I lose shit. You lose shit. But mostly, we unintentionally give away our shit. We don't mean to, we just lend it to a friend or family member and forget to ever ask for it back, or worse, we are also guilty of borrowing shit only to keep it forever.</p>
                <p>Oversee is a new app designed to help people share and keep track of their all their shit.</p>
                <h1 class="display-6 my-3">2. What items can I share on the Oversee app?</h1>
                <p>We recommend that you loan out all of your shit! Do you have an extra computer monitor? A video game that you've beaten a million times? A winter coat, a jet-ski, a bicycle, an old cell phone, your lucky rabbits foot? Anything you want! Basically, the user is allowed to share anything that they would feel comfortable sharing with the Oversee community.</p>
                <h1 class="display-6 my-3">3. Do I have to lend any items if I join Oversee?</h1>
                <p>No, you don't have to loan out any of your shit. Feel free to use the Oversee app as a way to keep track of all your most precious belongings, date of purchase, or the condition your shit is in. Also, feel free to add some friends and borrow some shit.</p>
               <h1 class="display-6 my-3">4. What if the items I lend out get lost or damaged?</h1>
                <p>Unfortunately, shit gets lost or damaged from time to time so we encourage the Oversee community to only lend out shit they are okay with losing. On that note, we also encourage our users to take care of the shit they borrow. This community only works if we all make the effort to care for shit as if it were our own. But remember, if it means that much to you, keep it at home. </p>
                <h1 class="display-6 my-3">5. Can I buy or sell items on Oversee?</h1>
                <p>No, the Oversee app is specifically designed for users to keep an inventory of their cool stuff and as a way to loan out your cool stuff or borrow even cooler stuff... for free. The Oversee community is all about sharing. Please buy and sell your items on Etsy, not here!</p>
                <h1 class="display-6 my-3">6. How long can I hold on to an item that I borrowed?</h1>
                <p>That's an excellent question! How about you ask that to the person who loaned it to you? With the Oversee app, the users will set the terms of the agreement. Basically, it is up to you how long you want to borrow or lend items. </p>
                
            </div>
        </div>
    </div>


    <%- include("partials/footer.ejs")%>