<%- include("partials/header.ejs", {title: ` - Landing Page`, body_id: `landing_page`} )%>


<div class="container-fluid banner align-middle h1-center">
    <div class=" welcome">
        <h1>Welcome to Oversee</h1>
    <div class="buttons">
        <div class="col d-flex justify-content-center">
            <a type="button" class="btn btn-info col-md-3 mb-2" role="button" href="/signup">Sign Up</a>
            &nbsp;
            <a type="button" class="btn btn-info col-md-3 mb-2" role="button" href="/login">Login</a>
        </div>
    </div>
</div>
</div>

<%- include("partials/footer.ejs")%>